<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Section1</key>
	<array>
		<string>Heo</string>
		<string>Bò</string>
		<string>Trâu</string>
		<string>Ngựa</string>
		<string>Gà</string>
		<string>Vịt</string>
		<string>Cá</string>
	</array>
	<key>Section2</key>
	<array>
		<string>Tivi</string>
		<string>Dao</string>
		<string>Kéo</string>
		<string>Chén</string>
		<string>Gà</string>
		<string>Vịt</string>
		<string>Cá</string>
	</array>
	<key>Section3</key>
	<array>
		<string>Phong</string>
		<string>Tinh</string>
		<string>Thuận</string>
		<string>Thông</string>
		<string>Trí</string>
	</array>
</dict>
</plist>
