<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen van a</string>
	<string>bui van b</string>
	<string>nguyen thi d</string>
	<string>hoang thi h</string>
	<string>hoang van c </string>
	<string>vo van k</string>
	<string>doan van m </string>
	<string>dinh van t</string>
</array>
</plist>
