<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyen Van A</string>
	<string>Nguyen Van B</string>
	<string>Nguyen Van C</string>
	<string>Nguyen Van D</string>
	<string>Nguyen Van E</string>
	<string>Nguyen Van F</string>
	<string>Nguyen Van G</string>
	<string>Nguyen Van H</string>
	<string>Nguyen Van I</string>
	<string>Nguyen Van J</string>
</array>
</plist>
