<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Nhật Quyên</string>
	<string>Lê Công Tú</string>
	<string>Đặng Thanh Thuận</string>
	<string>Đặng Như Quỳnh</string>
	<string>Hồ Hữu Hải</string>
	<string>Bùi Thường Tính</string>
	<string>Đinh Thảo</string>
	<string>Lê Công Tuấn</string>
	<string>Đặng Quỳnh Như</string>
</array>
</plist>
