<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Văn A</string>
	<string>Nguyễn Văn B</string>
	<string>Nguyễn Văn C</string>
	<string>Nguyễn Văn D</string>
	<string>Nguyễn Văn E</string>
	<string>Nguyễn Văn F</string>
	<string>Nguyễn Văn G</string>
	<string>Nguyễn Văn H</string>
	<string>Nguyễn Văn I</string>
	<string>Nguyễn Văn A</string>
	<string>Nguyễn Văn A</string>
</array>
</plist>
