<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Nguyễn Văn Tèo</string>
	<string>Lê Lung Linh</string>
	<string>Trần Trẻ Trung</string>
	<string>Mộng Thị Mơ</string>
	<string>Phùng Phung Phí</string>
	<string>Mai Văn Mốt</string>
	<string>Nguyễn Thị Mai</string>
</array>
</plist>
