<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>mi`</string>
		<string>bi&apos;</string>
		<string>tao&apos;</string>
	</array>
	<array>
		<string>ngua</string>
		<string>heo</string>
		<string>bo`</string>
		<string>trau</string>
	</array>
	<array>
		<string>tvi</string>
		<string>dao</string>
		<string>keo</string>
	</array>
</array>
</plist>
