<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Mì</string>
		<string>Bí</string>
	</array>
	<array>
		<string>Heo</string>
		<string>Bò</string>
		<string>Trâu</string>
		<string>Ngựa</string>
		<string>Gà</string>
		<string>Vịt</string>
		<string>Cá</string>
	</array>
	<array>
		<string>TiVI</string>
		<string>Dao</string>
		<string>Kéo</string>
		<string>Tủ Lạnh</string>
		<string>Lò Nướng</string>
		<string>Lò vi sóng</string>
	</array>
</array>
</plist>
