<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Thông</string>
	<string>Thành </string>
	<string>Nguyễn </string>
	<string>Thị</string>
	<string>Công</string>
	<string>Tằng </string>
	<string>Tôn</string>
	<string>Nữ</string>
	<string>Hạ</string>
	<string>Thị</string>
	<string>Tòn</string>
	<string>Ten</string>
</array>
</plist>
